h1{
margin-bottom:30px;
}
#box{
   background-color: gray;
}
h2{
    padding: 10px;
}
#beef{
    
    background-color: red;
}
#chicken{
    background-color: sandybrown;
}
#sushi{
    background-color: greenyellow;
}