*{
   box-sizing: border-box;
}
#box{
    width: 100%;
}
h1{
margin-bottom:30px;
text-align: center;
}
.content{
   background-color: gray;
   border: 1px solid black;
  
   width: 33.33%;
   height: 150px;
   margin-right: auto;
   margin-right: auto;

}


h2{
    padding: 10px;
    border: 1px solid black;
    float: right;
    position: relative;

  
}

#beef{
    
    background-color: red;
}
#chicken{
    background-color: sandybrown;
}
#sushi{
    background-color: greenyellow;
}